.body{
    background-color:lavender;

}
.button{
    background-color: red;
    color: midnightblue;
    cursor: pointer;
    padding: 15px 10px;
    font-size: 10px;
    transition: all 8.3s ease;
}
.button:hover{
    background-color: blueviolet;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    background-color: hotpink;
    color: midnightblue;
    transition: all 0.5s ease;
}

.box1:hover{
    transform: translateX(30px);
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    background-color: hotpink;
    color: midnightblue;
    transition: all 0.5s ease;
}
.box2:hover{
    transform: scale(1,2);
}
.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    background-color: hotpink;
    color: midnightblue;
    transition: all 0.5s ease;
}
.box3:hover{
    transform: rotate(360deg);
}
.box4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    background-color: hotpink;
    color: midnightblue;
    transition: all 0.5s ease;
}
.box4:hover{
    transform: skewX(20deg);

}
